<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {%  block title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="/static/common/style.css">
    <script type="text/javascript" src="/static/common/jquery-1.11.1.js"></script>
    {% block css_js %}{% endblock %}
</head>
<body class="class">
<div id="fw-head">
    <img class="fw-lcon" src="/static/home/image/images_03.jpg">
    <div class="fw-hello">
        您好，请[<a class="fw-hello-sign" href="http://fanyi.baidu.com/#zh/en/%E4%BD%A0%E5%A5%BD">登录</a>]
    </div>
</div>
{% block content %}
{% endblock %}
<div id="footer">
    <img src="/static/common/images/jobs.jpg" style="width: 80px;">
    <p>这里是网站的底部</p>
</div>
</body>
</html>