body,div,li,ul{
    margin: 0;
    padding: 0;
    color: #555555;
}



#fw-head{
    height: 35px;
    border-bottom: 1px solid #E7E7E7;
    font-size: 12px;
    position: relative;
}
.fw-lcon{
    padding: 8px 8px 0 0;
    position: absolute;
    left: 185px;


}
.fw-hello{
    height: 35px;
    position: absolute;
    left: 215px;
    line-height: 35px;
}
.fw-hello-sign{
    font-size: 13px;
    color: #048AC9;
    text-decoration: blink;

}



#fw-menu{
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 15px;
}
.fw-menu-log{
    display: block;
}
.fw-menu-left{
    float: right;
    padding-top: 22px;
}
.fw-menu-right{
    float: right;
    padding-left: 120px;
}
.fw-menu-left-page{
    border-bottom: 3px solid #0F8FCB;
    color: #048AC9;
    font-weight: bold;
}
span{
    padding: 0 20px 20px;
    text-align: center;
}
.fw-menu-img{
    margin-top: 23px;
}



.fw-menu-safety ul li{
    float: left;
    padding: 15px 0;
    border: 1px solid #E4E4E4;
    list-style: none;
    width: 248px;
    text-align: center;
}
.fw-menu-safety-top{
    font-size: 20px;
    color: #000000;
    padding: 10px 0;
    font-weight: bold;
}
.fw-menu-safety-head{
    font-size: 20px;
    margin: 10px 0;
}
.fw-menu-safety-central{
    font-size: 12px;
    width: 215px;
    margin: 0 auto 55px;
    text-align: left;
}
.fw-menu-safety-bottom{
    margin: 0 auto;
    width: 80px;
    height: 30px;
    border: 1px solid #A8D35D;
    color: #A8D35D;
    border-radius: 5px;
    line-height: 30px;
}



.fw-menu-recommend ul li{
    float: left;
    padding: 24px 24px 20px;
    list-style: none;
    font-size: 12px;
    text-align: center;
}