{% extends 'common/base.html' %}

{%  block title %}登录{% endblock %}
{% block css_js %}
<!--<link href="/static/users/login.css" rel="stylesheet" type="text/css">-->
<link href="/static/home/home.css" rel="stylesheet" type="text/css">
{% endblock %}


{% block content %}
<h1>This is login page in module users ! </h1>
<h1>This is login page in module users ! </h1>
{% endblock %}