{% extends 'common/base.html' %}

{%  block title %}首页{% endblock %}


{% block css_js %}
<link rel="stylesheet" type="text/css" href="/static/static/home/dome-head.css">
<link rel="stylesheet" type="text/css" href="/static/static/home/dome-middle.css">
<link rel="stylesheet" type="text/css" href="/static/static/home/dome-bottom.css">
{% endblock %}


{% block content %}


<div id="fw-menu">
    <div class="fw-menu-right">
        <img src="/static/home/images/images_06.jpg">
        购物车
    </div>
    <div class="fw-menu-left">
        <span class="fw-menu-left-page">首页</span>
        <span>我的服务</span>
        <span>订单查询</span>
        <span>联系客服</span>
    </div>
    <img class="fw-menu-log" src="/static/home/images/images_07.jpg">
    <img class="fw-menu-img" src="/static/home/images/images_18.jpg">
    <div class="fw-menu-safety-top">应用安全服务</div>
    <div class="fw-menu-safety">
        <ul>
            <li>
                <img src="/static/home/images/images_22.jpg">
                <div class="fw-menu-safety-head">应用安全检测</div>
                <div class="fw-menu-safety-central">对移动应用软件进行静、动态分析和综合判断，检测应用的安全问题。</div>
                <div class="fw-menu-safety-bottom">了解更多</div>
            </li>
            <li><img src="/static/home/images/images_24.jpg">
                <div class="fw-menu-safety-head">应用安全评估</div>
                <div class="fw-menu-safety-central">对移动应用软件进行静、动态分析和综合判断，检测应用的安全问题。</div>
                <div class="fw-menu-safety-bottom">了解更多</div>
            </li>
            <li>
                <img src="/static/home/images/images_26.jpg">
                <div class="fw-menu-safety-head">应用安全加固</div>
                <div class="fw-menu-safety-central">对移动应用软件进行静、动态分析和综合判断，检测应用的安全问题。</div>
                <div class="fw-menu-safety-bottom">了解更多</div>
            </li>
            <li>
                <img src="/static/home/images/images_28.jpg">
                <div class="fw-menu-safety-head">应用安全监测</div>
                <div class="fw-menu-safety-central">对移动应用软件进行静、动态分析和综合判断，检测应用的安全问题。</div>
                <div class="fw-menu-safety-bottom">了解更多</div>
            </li>
        </ul>
    </div>
    <div class="fw-menu-safety-top">应用安全推荐</div>
    <div class="fw-menu-recommend">
        <ul>
            <li>
                <img src="/static/home/images/images_35.jpg">
                <div>密码记事本</div>
            </li>
            <li>
                <img src="/static/home/images/images_37.jpg">
                <div>加密通讯录</div>
            </li>
            <li>
                <img src="/static/home/images/images_39.jpg">
                <div>私人水吧</div>
            </li>
            <li>
                <img src="/static/home/images/images_41.jpg">
                <div>监控视频播放</div>
            </li>
            <li>
                <img src="/static/home/images/images_43.jpg">
                <div>报表分析</div>
            </li>
            <li>
                <img src="/static/home/images/images_45.jpg">
                <div>简单闹钟</div>
            </li>
            <li>
                <img src="/static/home/images/images_47.jpg">
                <div>Facebook</div>
            </li>
            <li>
                <img src="/static/home/images/images_49.jpg">
                <div>Twitter</div>
            </li>
            <li>
                <img src="/static/home/images/images_59.jpg">
                <div>网络视频录音</div>
            </li>
            <li>
                <img src="/static/home/images/images_60.jpg">
                <div>安全篮球</div>
            </li>
            <li>
                <img src="/static/home/images/images_61.jpg">
                <div>个人隐私分享</div>
            </li>
            <li>
                <img src="/static/home/images/images_62.jpg">
                <div>微信</div>
            </li>
            <li>
                <img src="/static/home/images/images_63.jpg">
                <div>新浪微博</div>
            </li>
            <li>
                <img src="/static/home/images/images_64.jpg">
                <div>网易微博</div>
            </li>
            <li>
                <img src="/static/home/images/images_65.jpg">
                <div>腾讯微博</div>
            </li>
            <li>
                <img src="/static/home/images/images_66.jpg">
                <div>私人打印机</div>
            </li>

        </ul>
    </div>

</div>












{% endblock %}